@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFangSC-Regular, PingFangSC, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    Arial, sans-serif;
}
html {
  height: 100%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

.app-box {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: url(@/assets/bg.jpg) center center no-repeat;
  background-size: cover;
}
.app-wrapper {
  width: 1400px;
}

.el-rate .el-rate__icon.is-active {
  color: #01E1F1 !important;
  font-size: 20px !important;
}

.el-rate .el-rate__icon {
  font-size: 20px !important;
  border-color: #01E1F1 !important;
  margin-right: 5px !important;
}